.btn {
  border-radius: var(--radius-sm);
  &.primary {
    border-color: #292b2f;
    background-color: #292b2f;
  }
  &.secondary {
    border-color: #a3a5ad;
    background-color: #fff;
  }
  &.text {
    font-size: 1.7rem;
    color: var(--color-black);
    font-weight: var(--font-weight-regular);
  }
  &.underline {
    text-decoration: underline;
  }
  &.normal {
    padding: 0;
    background-color: transparent;
    &.large {
      padding: 0;
    }
  }
  &.line {
    border: 1px solid var(--color-pri-500);
    &.large {
      padding: 11px 20px;
      font-size: 1.7rem;
      font-weight: var(--font-weight-semibold);
      color: var(--color-pri-500);
      border-radius: var(--radius-md);
    }
    &_gray {
      &.large {
        padding: 11px 20px;
        font-size: 1.7rem;
        font-weight: var(--font-weight-semibold);
        color: var(--color-gray-700);
        border-radius: var(--radius-md);
      }
      &.medium {
        padding: 7.5px 12px;
        font-size: 1.4rem;
        font-weight: var(--font-weight-semibold);
        color: var(--color-gray-700);
        border-radius: 10px;
      }
      &.small {
        padding: 5px 8px;
        font-size: 1.2rem;
        font-weight: var(--font-weight-medium);
        color: var(--color-gray-700);
        border-radius: var(--radius-md);
      }
    }
  }
  &.small {
    height: 28px;
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius-md);
  }
  &.medium {
    height: 36px;
    padding: 0.7rem 1.2rem;
    border-radius: var(--radius-lg);
  }
  &.large {
    height: 48px;
    padding: 1.2rem 2rem;
    border-radius: var(--radius-xl);
  }
}
