.tabGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabList {
  display: flex;
  margin-bottom: 20px;
}

.tab {
    flex:1;
  padding: 10px 16px;
  border-bottom: 1px solid #ECEEF1;
  background: #fff;
  color: #C3C6CE;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;

  &.active {
    color: #111;
    border-bottom: 2px solid #111;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.tabPanel {
  width: 100%;
  font-size:20px;
}
