.floatingButtonGroup {
  position: relative;

  .floating_btn {
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-gray-800);
    border-radius: 50%;
    position: relative;
    z-index: 10;
    background-color: var(--color-white);
    font-size: 16px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    left: 0;
    top: 0;

    li {
      position: absolute;
      left: 0;
      top: 0;
      transition: transform 0.3s ease-in-out;
      background-color: var(--color-white);
      border-radius: 50%;

      button {
        width: 48px;
        height: 48px;
        border: 1px solid var(--color-gray-800);
        border-radius: 50%;
      }
    }

    &.open {
      li:nth-child(1) {
        transform: translateY(-56px);
      }

      li:nth-child(2) {
        transform: translateY(-112px);
      }

      li:nth-child(3) {
        transform: translateY(-168px);
      }
    }
  }
}
