@use "../../assets/styles/base/mixin" as *;
.wrap {
  font-size: 1.6rem;
  padding: 8px;
  &:has(.header) {
    @apply pt-[60px];
  }
  .header {
    @apply fixed left-0 top-0 w-full h-[60px] bg-white flex justify-center items-center z-[5] shadow-[0_4px_6px_#00000026];
    h1 {
      @apply text-center;
      font-size: var(--font-size-20);
    }

    &_type2 {
      @apply h-[48px] sticky left-0 top-0 flex items-center bg-white px-[18px];
      border-bottom: 1px solid var(--color-gray-300);
    }
  }

  .layout {
    display: flex;
  }

  .aside {
    position: sticky;
    left: 0;
    top: 0;
    flex-shrink: 0;
    width: 150px;
    height: calc(100dvh - 16px);
    padding: 0 8px;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-gray-300);
    background: var(--color-White);

    /* Shadow/Shadow_lv02 */
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    &.open {
      width: 232px;
    }
    .logo_wrap {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 56px;
      margin-bottom: 24px;
      padding: 0 12px;
      .logo {
        flex: 1;
        display: flex;
        align-items: center;
        svg {
          flex-shrink: 0;
          width: 33px;
          height: 33px;
        }
        .label {
          margin-left: 6px;
          font-size: 1.4rem;
          line-height: 1.2;
          background: linear-gradient(124deg, #0795e4 23.59%, #c12fff 98.48%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .btn_toggle {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        background-color: transparent;
        z-index: 1;
        &::before {
          overflow: hidden;
          display: flex;
          content: "";
          width: 20px;
          height: 16px;
          margin-right: 10px;
          border: 2px solid var(--color-gray-700);
          border-radius: 3px;
          background-color: var(--color-White);
        }
        &::after {
          position: absolute;
          right: 23px;
          top: 50%;
          overflow: hidden;
          display: flex;
          content: "";
          width: 3px;
          height: 10px;
          margin-top: -5px;
          border-radius: 2px;
          background-color: var(--color-gray-700);
        }
      }
    }

    .nav {
      &_menu {
        &_item {
          margin-top: 4px;
          &.active {
            button {
              color: var(--color-pri-600);
              font-weight: var(--font-weight-bold);
              border-radius: var(--radius-lg);
              border: 1px solid var(--color-pri-600);
              svg {
                path {
                  fill: #5997fb !important;
                }
              }
            }
          }
          &:first-child {
            margin-top: 0;
            &.active {
              button svg path {
                stroke: #5997fb !important;
              }
            }
          }
          button {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            font-size: 1.4rem;
            font-weight: var(--font-weight-regular);
            color: var(--color-gray-800);
            border: 1px solid transparent;
            svg {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  .container {
    @apply w-full flex-1 ml-[8px];
  }
  .footer {
    @apply w-full h-[100px] shrink-0;
  }
}
