@use "../../assets/styles/base/mixin" as *;
.layout {
  &__wrap {
    @apply relative;
    &:has(.layout__header) {
      @apply pt-[60px];
    }
  }
  &__header {
    @apply fixed left-0 top-0 w-full h-[60px] shrink-0 bg-white;
    h1 {
      @apply text-center;
      font-size: var(--font-size-20);
    }
  }
  &__container {
    @apply w-full;
  }
  &__footer {
    @apply w-full h-[100px] shrink-0;
  }
}
