.home {
  @apply relative;

  .router_wrap {
    @apply relative;
  }

  .set_interval {
    @apply flex flex-col;
    & > li {
      &.active {
        color: var(--color-primary-500);
      }
    }
  }

  .slide_item {
    @apply relative;
  }
}
