.top {
  &_btn {
    @apply overflow-hidden fixed right-[30px] bottom-[30px] flex items-center justify-center z-[5] bg-white w-[32px] h-[32px] rounded-full border-[1px] border-[var(--color-gray-500)];
  }
  &_icon {
    @apply fill-[var(--color-gray-800)];
  }
}
