.contents {
  display: block;
  width: 1072px;
  margin: 0 auto;
  padding-top: 64px;
}

.page_title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-pri-600);
}

.page_text {
  text-align: center;
  margin: 4px 0 24px;
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  background: linear-gradient(
    121deg,
    #0083ca 15.59%,
    #998fff 53.17%,
    #d88fff 89.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
