.svg_icon {
  &.xs {
    @apply w-[16px] h-[16px];
  }
  &.sm {
    @apply w-[18px] h-[18px];
  }
  &.md {
    @apply w-[24px] h-[24px];
  }
  &.lg {
    @apply w-[32px] h-[32px];
  }
  &.xl {
    @apply w-[48px] h-[48px];
  }
  @apply fill-transparent;
}
